* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    padding: 10px;
    margin: 0;
}

h2 {
    margin: 10px 0 20px;
    text-align: center;
}

.container {
    background-color: whitesmoke;
    box-shadow: 1px 2px 5px silver;
    border-radius: 5px;
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

.result-container {
    background-color: #818589;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px;
    height: 50px;
    width: 100%;
    border-radius: 5px;;
}


.result-container #result {
    word-wrap: break-word;
    color: whitesmoke;
    max-width: calc(100% - 40px);
}

.btn {
    border: none;
    background-color: gray;
    color: whitesmoke;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
    transition: .5s all;
    box-shadow: 0px 0px 5px #36454F;
}

.btn:hover {
    background: #36454F;
}

.btn-large {
    display: block;
    width: 100%;
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.setting {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 15px 0;
}